.bg-pink{
    background-color: #ba0453;
}

.ping{
    animation: ping infinite 2s;
    transition: all 2s;
}

@keyframes ping {
    0%, 100% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.container-caro{
    width: 40vw;
    gap: 10px;
    scroll-snap-type: x mandatory;
}
.container-caro > div{
text-align: center;
    scroll-snap-align: center;
    flex: none;
}

@media screen and (max-width: 768px) {
    .container-caro{
        width: 80vw;
    }
    
}